@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --primary: #242a31;
  --secondary: #FFFFFF;
  --biru: #183055;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-biru: var(--biru);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-josefin: var(--font-josefin-sans);
  --font-montserrat: var(--font-montserrat);
  --font-outifit: var(--font-outifit);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F2F0EA;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Outfit, Arial, Helvetica, sans-serif;
}
